@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

$colors: (
	/* (Full Slider Bar) */ "soft-cyan": hsl(174, 77%, 80%),
	/* (Slider Backround) */ "strong-cyan": hsl(174, 86%, 45%),
	/* (Discount Background) */ "light-grayish-red": hsl(14, 92%, 95%),
	/* (Discount Text) */ "light-red": hsl(15, 100%, 70%),
	/* (CTA Text) */ "pale-blue": hsl(226, 100%, 87%),
	/* (Pricing Component Background) */ "white": hsl(0, 0%, 100%),
	/* (Main Background) */ "very-pale-blue": hsl(230, 100%, 99%),
	/* (Toggle Background) */ "light-grayish-blue": hsl(223, 50%, 87%),
	/* (Empty Slider Bar) */ "lighter-grayish-blue": hsl(224, 65%, 95%),
	/* (Text) */ "grayish-blue": hsl(225, 20%, 60%),
	/* (Text & CTA Background) */ "dark-desaturated-blue": hsl(227, 35%, 25%)
);

:root {
	@each $name, $hsl in $colors {
		--#{$name}: #{$hsl};
	}

	--font-size: 15px;
	--font-family: Manrope;
}
